.intro-section {
  padding: 60px 80px;
  background:white
}

.intro-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.intro-text {
  flex: 1;
}

.intro-text h2 {
  font-size: 32px;
  color: #0a5db8; /* primary color */
  margin-bottom: 16px;
}

.intro-text p {
  font-size: 16px;
  color: #101010;
  line-height: 1.6;
}

.intro-image {
  flex: 1;
  text-align: right;
}

.intro-image img {
  width: 100%;
  max-width: 400px;
}